html, body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	border: 0;

	font-size: 100%;
	font: inherit;
	font-family: 'Roboto', sans-serif;

	vertical-align: baseline;
}

#background {
	display: flex;
	justify-content: center;

	height: 100%;
	width: 100%;

	background-color: #272727;
}

#content-frame {
	display: flex;
	flex: 1;

	height: 100%;
	max-width: 1024px;
}

#header-frame {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	z-index: 1;

	margin: 64px 0px;
	padding: 40px;

	background-color: #48CA93;

	box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
}

.header-text {
	text-align: center;
}

#title {
	font-size: 32px;
	font-weight: 600;
}

#author {
	font-size: 28px;
	font-weight: 500;
}

#description {
	color: #4F5858;

	font-size: 18px;
	font-weight: 500;
}

#form-frame {
	align-items: center;
	display: flex;
	flex: 0.9;
	justify-content: center;

	margin: 64px 0px;

	background-color: #D6D6D6;
}

input, select, label {
	display:block;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

input:focus, select:focus{
	outline: none;
}

label {
	font-weight: 600;
	margin-bottom: 32px;
}

.form-element-box {
	height: 48px;
	width: 248px;
	max-width: 248px;

	margin-top: 4px;
	padding: 0px 8px;

	border: transparent;
	border-radius: 8px;
}

#form-button {
	height: 48px;
	width: 248px;
}

#result-frame {
	align-items: center;
	bottom: 132px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 3;

	height: 96px;
	width: 400px;

	background-color: rgba(0,0,0,0.65);

	text-align: center;

	box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
}

#result-price {
	font-size: 22px;
	font-weight: 600;

	margin-bottom: 8px;

	color: #FFFFFF;
}

#result-disclaimer {
	font-size: 14px;
	font-weight: 500;

	color: #D6D6D6;
}